.root {
  max-width: 345px;
  margin:2%;
}

.media {
  height: 20vh;
  padding: 1em;
}

.textCenter{
  text-align: center!important;
}

.grid{
  display: flex;
  flex-direction: row;   
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .grid {
    flex-wrap: wrap;
  }
}